
@font-face {
    font-display: swap;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/public-sans-v15-latin-regular.woff2') format('woff2'); 
  }
@font-face {
    font-display: swap;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-serif-display-v15-latin-regular.woff2') format('woff2'); 
  }
@font-face {
  font-display: swap; 
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/public-sans-v15-latin-700.woff2') format('woff2');
}